# Ignore .env file containing sensitive information
.env

# Ignore compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore Go binary
IngredientIQ

# Ignore test binary, built with `go test -c`
*.test

# Ignore output of the go coverage tool
*.out

# Ignore Go workspace file
go.work
